.rotating-logo-wrapper {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  user-select: none;
  &.swap-status {
    margin-top: 32px;
    flex: unset;
  }
  .rotating-logo {
    width: 80px;
    height: 80px;
    animation: rotate-stop 2s infinite linear;
    transform: rotate();
    align-self: center;
  }
}
